                      <!-- content -->                      
                        <div class="row">
                          
                         <!-- main col left --> 
                         <div class="col-sm-5">
                           
                              <div class="panel panel-default">
                                <div class="panel-thumbnail"><img src="<%= facebook.get_picture(current_user.username,:type => "square", height: 370 , width: 370) %>" class="img-responsive"></div>
                                <div class="panel-body">
                                  <p class="lead"><%= current_user.name %></p>
                                  <p>45 Followers, 13 Posts</p>
                                  
                                  <p>
                                    <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px">
                                  </p>
                                </div>
                              </div>
                          
                          </div>
                          
                          <!-- main col right -->
                          <div class="col-sm-7">
                               

                      
                               <div class="panel panel-default">
                                 <div class="panel-heading"><a href="#" class="pull-right">Add places</a> <h4>Profile</h4></div>
                                  <div class="panel-body">
                                    I am a software application developer and my interest is in application development. 
                                  </div>
                               </div>
               
                            
                          </div>
                       </div>
          <!--/row-->
                      
